<h1>Andrea Kubná Architekt</h1>

<section id="featured-projects">
    <ul>
        <% @projects.each do |project| %>
        <li><article>
            <header>
                <h2><%= link_to project.item.title, project %></h2>
            </header>
            <div><%= project.item.teaser %></div>
            <% for image in project.item.images %>
            <figure>
                <%= image_tag image.file.url(:detail) %>
            </figure>
            <% end %>
        </article></li>
        <% end %>
    </ul>
</section>

<section id="featured-items">
    <ol>
        <% @news.each do |news| %>
        <li><article>
            <header>
                <h2><%= link_to news.item.title, news %></h2>
            </header>
            <div><%= news.item.teaser %></div>
        </article></li>
        <% end %>
    </ol>
</section>
