<%= form_for(@project, :html => { :multipart => true }) do |f| %>
    <% if @project.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
            <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <dl>
        <dt><%= f.label :title %></dt>
        <dd><%= f.text_field :title %></dd>
    </dl>

    <dl>
        <dt><%= f.label :teaser %></dt>
        <dd><%= f.text_field :teaser %></dd>
    </dl>

    <dl>
        <dt><%= f.label :lead %></dt>
        <dd><%= f.text_area :lead %></dd>
    </dl>

    <dl>
        <dt><%= f.label :content %></dt>
        <dd><%= f.text_area :content %></dd>
    </dl>

    <ol id="images" class="images-list">
    <%= f.fields_for :images do |builder| %>
    <li id="image-<%= builder.object.id %>">
        <%= render "form_image", :f => builder %>
    </li>
    <% end %>
    </ol>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>

<script>
    $(function() {
        var sortable = $('#images').sortable({items: '> li'});
        $('form.edit_project').submit(function() {
            var images = sortable.sortable("toArray");
            for (var i = 0; i < images.length; i++) {
                input = $('#' + images[i]).find('input:hidden[name*="rank"]').val(i);
            }
        });
    });
</script>
