<%= form_for(@project, :html => { :multipart => true }) do |f| %>
    <% if @project.errors.any? %>
    <div class="alert alert-error">
        <strong><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</strong>

        <ul>
            <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <%= f.label :authors %>
    <%= f.text_field :authors %>

    <%= f.label :collaborators %>
    <%= f.text_field :collaborators %>

    <%= f.fields_for :item do |item_fields| %>
        <%= render "form_item", :f => item_fields %>
    <% end %>

    <div class="form-actions">
        <%= f.submit(:class => 'btn') %>
    </div>
<% end %>
