<%= f.hidden_field :rank %>

<% if f.object.id? %>
<div class="span2">
        <%= image_tag f.object.file.url(:thumb) %>
</div>
<% end %>
<div class="span4">
    <%= f.label :caption %>
    <%= f.text_field :caption %>

    <%= f.label :file %>
    <%= f.file_field :file %>
</div>
