<section>
<ul>
    <% @projects.each do |project| %>
    <li><article>
        <header>
        <h2><%= link_to project.item.title, project %></h2>
        </header>

        <% if project.item.images.first %>
        <figure>
        <%= link_to project do %>
            <%= image_tag project.item.images.first.file.url(:teaser) %>
        <% end %>
        </figure>
        <% end %>

        <p><%= project.item.teaser %></p>

        <footer>
            <%= link_to 'Edit', edit_project_path(project) %>
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        </footer>
    </article></li>
    <% end %>
</ul>
</section>

<%= link_to 'New Project', new_project_path %>
