<p id="notice"><%= notice %></p>

<article>
    <header>
        <h1><%= @project.item.title %></h1>
    </header>

    <div id="lead" class="content"><%= @project.item.lead %></div>

    <% for image in @project.item.images %>
    <figure>
        <%= image_tag image.file.url(:detail) %>
        <p><%= image.caption %></p>
    </figure>
    <% end %>

    <div id="content" class="content"><%= @project.item.content %></div>
</article>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
